<<<<<<< HEAD
﻿@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
=======
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
>>>>>>> 3f2717c6eb14f313df08bf4e21c2b3d54da97397
@{
    ViewBag.Title = "movielist";
  
}
<h2>mymovielist</h2>

<p>from our view template!</p>

